<nav class="navbar" >
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<div class="row">
				<li>
					<h3  *ngIf="loadOk">{{ me.nickName }}</h3>
				</li>
			</div>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<div class="row">
				<div class="menu" routerLinkActive="active" *ngIf="isAuth && !newUser">
						<span class="title"></span>
						<input class="burger" type="checkbox" value="">
					<nav>
						<a (click)="onReset()" routerLink="cours-du-navet"><img src="../../assets/media/navet-menu.png"></a>
						<a (click)="onReset()" routerLink="users"><img src="../../assets/media/friends-menu.png"></a>
						<a (click)="onReset()" routerLink="settings"><img src="../../assets/media/passeport-menu.png"></a>
						<a (click)="onSignOut()" *ngIf="isAuth && !newUser" style="cursor: pointer;">Se Deconnecter</a>
					</nav>
				</div>
				<li routerLinkActive="active" *ngIf="!isAuth">
					<a routerLink="auth/signup">Creer un Compte</a>
				</li>
				<li routerLinkActive="active" *ngIf="!isAuth">
					<a routerLink="auth/signin">Se Connecter</a>
				</li>
			</div>
			
			
		</ul>
	</div>

</nav>
